{% include "header.html" %}
<html>

    <head>
        {# Cargamos libreria bootstrap #}
        {% load bootstrap4 %}
        {# Cargamos bootstrap css #}
        {% bootstrap_css %}
        {# Archivos #}
        {% load static %}

        <style>
            .btn-primary{
                background-color:#068E73;
                border-color: #068E73;
            }
        </style>
        <script type="text/javascript" language="JavaScript">
        </script> 

    </head>

    <body>
        {# JS y jquery bootstrap #}
        {% bootstrap_javascript jquery='full' %}
        {# Widget Tweaks carga las cajas de texto #}
        {% load widget_tweaks %}

        <!-- Confirmación de operación exitosa -->
        {% if messages %}
            <ul class="messages list-group mb-3">
            {% for message in messages %}
                <li{% if message.tags %} style="background-color: #b0ccf1;text-align: center;" class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        <div>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- Columna izquierda -->
                <div class="col-sm-5" style="display:inline-block;vertical-align: top;margin-bottom:2%;">
                    <div class="form-group">
                        <label for="description" style="font-weight:bold;">Descripción</label>
                        {{ form.description| add_class:"form-control" | attr:"rows:6" }} 
                    </div>

                    <p style="font-weight: bold;margin-bottom:1%;margin-top:1%;">Horario</p>
                    <input type="time" id="appt" name="hora_inicio" min="00:00" max="24:00" value="08:00" required>
                    <small> a </small>
                    <input type="time" id="appt" name="hora_fin" min="01:00" max="24:00" value="10:00" required>
                    <small>hs</small>

                    <p style="font-weight: bold;margin-bottom:1%;margin-top:2%;">Rango de repetición del evento</p>
                    <input type="date" id="fecha_inicio" name="fecha_inicio" required>
                    <small> a </small>
                    <input type="date" id="fecha_fin" name="fecha_fin" required>
                </div>

                <!-- Columna derecha -->
                <div class="col-sm-5" style="display:inline-block;">

                    <!-- Dropdown de aulas -->
                    <div class="form-group">
                        <label for="aula" style="font-weight:bold;" class="control-label">Aula</label>
                        <select class="form-control" name="aula" required>
                            <option hidden selected value> -- Seleccione Aula -- </option>
                            {% for e in edificios %}
                                <optgroup label="{{e.nombre}}" style="font-size:90%;">
                                {% for a in aulas %}
                                    {% if a.edificio_id == e.id %}
                                        <option value="{{a.id}}">{{a.nombre}}</option>
                                    {% endif %}
                                {% endfor %}
                                </optgroup>
                            {%endfor%}
                        </select>
                    </div>

                     <!-- Dropdown de entidades -->
                     <div class="form-group">
                        <label for="entidades" style="font-weight:bold;" class="control-label">Entidad</label>
                        <select class="form-control" name="entidades" required>
                            <option hidden selected value> -- Seleccione Entidad -- </option>
                            {% for e in entidades %}
                                <option value="{{e.id}}">{{e.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--Select dias-->
                    <p style="font-weight: bold;margin-bottom:1%;margin-top:1%;">Frecuencia</p>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="lunes" name="lunes" >
                            <label class="form-check-label" for="lunes">
                            Lunes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="martes" name="martes" >
                            <label class="form-check-label" for="martes">
                            Martes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="miercoles" name="miercoles" >
                            <label class="form-check-label" for="miercoles">
                            Miércoles
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="jueves" name="jueves" >
                            <label class="form-check-label" for="jueves">
                            Jueves
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="viernes" name="viernes" >
                            <label class="form-check-label" for="viernes">
                            Viernes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="sabado" name="sabado" >
                            <label class="form-check-label" for="sabado">
                            Sábado
                            </label>
                        </div>
                        <div class="form-check" style="margin-bottom: 2%;">
                            <input class="form-check-input" type="checkbox" value="" id="domingo" name="domingo" >
                            <label class="form-check-label" for="domingo">
                            Domingo
                            </label>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-5" style="display:inline-block;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="repetir" name="repetir">
                        <label class="form-check-label" for="repetir" style="font-weight:bold;">
                        ¿Repetir evento?
                        </label>
                    </div>
                </div> -->
                
                <div style="vertical-align: bottom; margin-left: 1%;">
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                    <a href="/calendario" type="submit" class="btn btn-primary">Cancelar</a>
                </div>
            
            </form>
        </div>

    </body>

</html>