{% include "header.html" %}
<html>

    <head>
        {# Cargamos libreria bootstrap #}
        {% load bootstrap4 %}
        {# Cargamos bootstrap css #}
        {% bootstrap_css %}
        {# Archivos #}
        {% load static %}

    </head>

    <body>
        {# JS y jquery bootstrap #}
        {% bootstrap_javascript jquery='full' %}

        <div allign="left" class="btn_crear mb-3">
            <a href="crear" type="button" class="btn btn-primary">Crear</a>
        </div>

        <!-- Confirmación de operación exitosa -->
        {% if messages %}
            <ul class="messages list-group mb-3">
            {% for message in messages %}
                <li{% if message.tags %} style="background-color: #b0ccf1;text-align: center;" class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}


        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th width="35%">Nombre</th>
                <th>Capacidad</th>
                <th>Conectividad</th>
                <th>Proyector</th>
                <th>Edificio</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            
            <!-- Recorremos los objetos -->
            {% for aula in object_list %}
            <tr>
                <td>{{ aula.nombre }}</td>
                <td>{{ aula.capacidad }}</td>
                {% if aula.conectividad %} <!-- Cambia True/False por Si/No-->
                    <td>Si</td>
                    {% else %}
                    <td>No</td>
                {% endif %}
                {% if aula.proyector %}
                    <td>Si</td>
                    {% else %}
                    <td>No</td>
                {% endif %}
                <td>{{ aula.edificio.nombre }} ({{aula.edificio.ubicacion}})</td>
                <td>
                <!-- Form para eliminar  -->                        
                    <form method="POST" action="eliminar/{{aula.id}}">
                        <div class="btn-group">
            
                        <!-- Botones:  Ver, Editar y Eliminar -->
                        <a href="detalle/{{aula.id}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                        <a href="editar/{{aula.id}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                        <button class="btn btn-danger" onclick="return eliminar('{{aula.nombre}}');" type="submit">
                            Eliminar
                        </button>
                        </div>
                    </form>
        
                </td>
            </tr>
            {% endfor %}
        
            </tbody>
        </table>
        
        <!-- Paginador de Aulas (la cantidad x pagina se define en la view)-->
        <div class="pagination" style="width: 100%; text-align: center;display: inline-block;">
            <span class="page-links">
                <!-- Pagina previa -->
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-dark" href="/aulas?page={{ page_obj.previous_page_number }}">Anterior</a>
                {% endif %}
                <!-- Pagina actual -->
                    <span class="page-current">
                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                    </span>
                <!-- Pagina anterior -->
                {% if page_obj.has_next %}
                    <a class="btn btn-outline-dark" href="/aulas?page={{ page_obj.next_page_number }}">Siguiente</a>
                {% endif %}
            </span>
        </div>

    <!-- Script de borrado, aca deberiamos validar reservas antes de borrar -->
    <script type="text/javascript">
        function eliminar(aula) {
          var x = confirm("¿Desea eliminar el aula: "+aula+"?");
          if (x)
            return true;
          else
            return false;
        }
      </script>
      
    </body>
  </html>
  
</html>