<html>
    <head>
        {# Cargamos libreria bootstrap #}
        {% load bootstrap4 %}
        {# Cargamos bootstrap css #}
        {% bootstrap_css %}
        {# Archivos #}
        {% load static %}
        <!-- Cargo scripts para el dropdown de administración -->
        <script type="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
        <script type="javascript" src="dist/js/bootstrap.js"></script>
        <script type="javascript">
            $(document).ready(function() {
                $(".dropdown-toggle").dropdown();
            });

        </script>

    </head>

    <body>
        <!-- Barra de navegacion -->
        <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #09cca6;">
            <img src="{% static 'icono-fcm-gorrito-small.png' %}" style="margin-right: 7px;" alt="Logo del sistema aulas">
            <a class="navbar-brand" href="/calendario">Aulas FCM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Seleccionables del header -->
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/calendario">Calendario</a>
                </li>

                <li class="dropdown"> <!-- Dropdown de administracion -->
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> Consultas <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="margin-left:10;color:#4d6b93" href="/eventos/reservas">Reservas</a></li>
                        <hr class="my-1" />
                        <li><a style="margin-left:10;color:#4d6b93" href="#">Horarios libres</a></li>
                    </ul>
                </li>

                <!-- Menu usuarios -->
                {% if user.is_authenticated %}
                <li class="dropdown"> <!-- Dropdown de administracion -->
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> Administración <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="margin-left:10;color:#4d6b93" href="/entidades">Entidades</a></li>
                        {% if request.user.is_superuser %}
                            <hr class="my-1"/> <!-- Separadores del dropdown -->
                            <li><a style="margin-left:10;color:#4d6b93" href="/edificios">Edificios</a></li>
                            <hr class="my-1"/>
                            <li><a style="margin-left:10;color:#4d6b93" href="/aulas">Aulas</a></li>
                            <hr class="my-1" />
                            <li><a style="margin-left:10;color:#4d6b93" href="#">Usuarios</a></li>
                        {% endif %}

                    </ul>
                </li>
                {% endif %}
                </ul>
            </div>

            <!-- Login -->
            {% if user.is_authenticated %}
                <img src="{% static 'icono-login.png' %}" style="width: 25px;margin-right: 5px;" alt="Logo de usuario activo">
                <a class="text-center" style="pointer-events: none;color: black;" > {{ user.username }} </a>
                <!-- Opciones de usuario -->
                <div class="dropdown" id="userMenu"> <!-- Dropdown de administracion -->
                    <!-- Trigger -->
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" style="color: black;margin-top:5px;margin-left:-8px;margin-right:15;"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="margin-left:10;color:black">Datos personales</a></li>
                        <hr class="my-1"/> 
                        <hr class="my-1"/> 
                        <li><a style="font-size:90%;margin-left:10;color:#4d6b93" href="/cambiar-email">Cambiar email</a></li>
                        <hr class="my-1"/>
                        <li><a style="font-size:90%;margin-left:10;color:#4d6b93;" href="/cambiar-clave">Cambiar clave</a></li>

                    </ul>
                </div>
                
                <!-- Cerrar sesión -->
                <a class="btn btn-outline-dark" type="button" href="{% url 'logout' %}">
                    Cerrar sesión <i class="fas fa-sign-in-alt"></i>
                </a>
            {% else %}
            <a class="btn btn-outline-dark" type="button" href="{% url 'login' %}">
                Iniciar sesión <i class="fas fa-sign-in-alt"></i>
            </a>
            {% endif %}

            
        </nav>

        <!-- Line break entre header y page -->
        <p style="line-height:1px;"></p>

    </body>
</html>